.env
*.pyc
test.py
__pycache__
node_modules 
public/main.js 
public/asst/css/bootstrap.min.css
public/asst/jquery/jquery.js
public/asst/js/bootstrap.min.js
public/asst/js/popper.min.js

sproutepy/SprouteSessionizer.py
public/asst/.DS_Store
.DS_Store