venv
.env
*.zip
*.pyc
test.py
__pycache__
node_modules 
public/main.js 
public/static/js
public/static/charts
public/static/jquery
public/static/printjs
public/static/toastr
public/static/sweetalert
public/bootstrap/

sproutepy/SprouteSessionizer.py
public/static/.DS_Store
.DS_Store
