
<!-- Footer section -->
    <footer class="p-5 fixed-bottom bg-success">
        <p class="text-center">
            Sproutepy Framework. &copy;2025 All rights reserved.
        </p>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="http://127.0.0.1:8400/public/asst/jquery/js/jquery.js"></script>
    <script type="module" src="http://127.0.0.1:8400/public/asst/js/popper.min.js"></script>
    <script src="http://127.0.0.1:8400/public/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
